*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:Arial, sans-serif;
    background:#f4f7fb;
    color:#333;
}


header{
    background:linear-gradient(90deg,#ff9800,#ffc107);
    color:white;
    text-align:center;
    padding:25px;
}


header h1{
    font-size:32px;
}


header p{
    margin-top:10px;
    font-size:18px;
}


nav{
    background:#222;
    display:flex;
    justify-content:center;
    flex-wrap:wrap;
}


nav a{
    color:white;
    text-decoration:none;
    padding:15px 20px;
}


nav a:hover{
    background:#ff9800;
}


.hero{
    text-align:center;
    padding:40px 20px;
}


.hero h2{
    color:#ff9800;
    margin-bottom:15px;
}


.hero p{
    font-size:18px;
}


.cards{
    display:flex;
    justify-content:center;
    gap:20px;
    flex-wrap:wrap;
    padding:20px;
}


.card{
    background:white;
    width:300px;
    padding:25px;
    border-radius:15px;
    box-shadow:0 5px 15px #ccc;
    text-align:center;
}


.card h3{
    color:#ff9800;
    margin-bottom:15px;
}


.card p{
    line-height:1.6;
}


.card a{
    display:inline-block;
    margin-top:15px;
    background:#ff9800;
    color:white;
    padding:10px 20px;
    text-decoration:none;
    border-radius:8px;
}


.card a:hover{
    background:#e68900;
}


.safety{
    background:white;
    margin:20px;
    padding:25px;
    border-radius:15px;
}


.safety h2{
    color:red;
}


.safety li{
    margin:10px;
}


footer{
    background:#222;
    color:white;
    text-align:center;
    padding:15px;
    margin-top:20px;
}


@media(max-width:600px){

header h1{
    font-size:25px;
}

.card{
    width:90%;
}

nav a{
    padding:12px;
}

}
.search-box{

text-align:center;
padding:20px;

}


.search-box input{

width:60%;
padding:12px;
border-radius:8px;
border:1px solid #ccc;

}


.search-box button{

padding:12px 20px;
background:#ff9800;
color:white;
border:none;
border-radius:8px;
cursor:pointer;

}
